# grub.cfg - GRUB 2 配置文件
# 定义内核菜单项，加载我们的内核（ELF 格式）

set timeout=0                # 倒计时 0 秒，直接启动
set default=0                # 默认选择第一个菜单项

menuentry "MaxZOS" {
    multiboot /boot/kernel.elf   # 使用 multiboot命令加载内核文件
    boot                          # 启动
}